<% if post.errors.any? %>
  <div class="alert alert-danger">
    <ul class="mb-0">
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="mb-3">
  <%= f.label :title, "タイトル", class: "form-label fw-bold" %>
  <%= f.text_field :title, class: "form-control", maxlength: 50, placeholder: "タイトルを入力してください" %>
</div>

<div class="mb-3">
  <%= f.label :body, "内容", class: "form-label fw-bold" %>
  <%= f.text_area :body, class: "form-control", maxlength: 500, rows: 6, placeholder: "投稿内容を入力してください" %>
</div>
<div class="form-group">
  <%= f.label :post_image, "画像を添付", class: "form-label" %>
  <%= f.file_field :post_image, class: "form-control" %>
</div>