<div class="container my-5">
  <div class="card shadow p-4">
    <div class="card-header bg-primary text-white">
      <h1 class="mb-0">投稿詳細</h1>
    </div>

    <div class="card-body">
      <%= render 'posted_user', post: @post %>

      <% if @post.post_image.attached? %>
        <div class="text-center mt-3">
          <%= image_tag @post.post_image, class: "img-fluid rounded", style: "max-height: 250px;" %>
        </div>
      <% end %>

      <h3 class="text-decoration-underline mb-4 mt-2"><%= @post.title %></h3>

      <p class="card-text fs-5"><%= simple_format(@post.body) %></p>
    </div>

    <div class="card-footer d-flex justify-content-end gap-2">
      <%= link_to '一覧に戻る', user_path(current_user), class: "btn btn-outline-primary mx-1" %>

      <% if current_user == @post.car.user %>
        <%= link_to '投稿編集', edit_user_car_post_path(@post.car.user, @post.car, @post), class: "btn btn-outline-warning mx-1" %>

        <%= link_to '投稿を削除', user_car_post_path(@post.car.user, @post.car, @post), 
                    method: :delete, 
                    data: { confirm: '本当に削除してもよろしいですか？' }, 
                    class: "btn btn-outline-danger mx-1" %>
      <% end %>
    </div>
  </div>
</div>
